.App {
  text-align: center;
  margin-top: 50px;
}

body {
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;
  background-color: bisque;
}

.form {
  margin-bottom: 20px;
}

.addBtn {
  padding: 16px;
  border-radius: 8px;
  font-size: 20px;
  margin-left: 20px;
}

.formInput {
  padding: 15px;
  font-size: 20px;
  border-radius: 8px;
  width: 60%;
}

.btnDel {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 25px;
  border-radius: 8px;
}

.text {
  display: inline-block;
  font-weight: bolder;
}


